body{
    background-color: white;
    margin: 0px;
}


header{
    height:100px;
    background-color: #F7F1F0;
    font-family: 'Grandstander', cursive;
    font-size: 50px;
    text-align: center;
    line-height: 100px;

  }

.logo{
    color: black;
    text-decoration: none;
}

  nav{
    font-family: Arial;
    background-color: #C3A6A0;

    text-align: center;
  }
  
  nav a {
      padding: 14px 16px;
      display: inline-block;
      text-decoration: none;
      color: black;
      
  }
   nav a:hover{
       background-color: whitesmoke;
       color: black;
   }

   
footer{
    color: white;
    text-align: center;
    background-color: #444444;
    padding: 50px;
    margin-top: 400px;
  }
  
  footer p{
    margin-top: -10px;
  }
  
  .footer2{
    background-color: burlywood;
    height: 30px;
    margin-top: -20px;
  }
  

  .item_header{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    height: 30px;
    background-color: #fff;
    border-radius: 3px;
    padding-left: 10px;
}
.item_header div{
    width: 200px;
    color: #888;
    line-height: 30px;
}
.item_header .item_detail{
    width: 50%;
}
.item_body{
    margin-top: 20px;
    height: 100px;
    align-items: center;    
}
.item_detail img{
    width: 80px;
    height: 80px;
    border-radius: 3px;
    /* margin-top: 10px; */
    float: left;
}
.item_detail .name{
    margin-left: 100px;
    margin-top: 20px;
} 