body{
    background-color: white;
    margin: 0px;
}


header{
    height:100px;
    background-color: #F7F1F0;
    font-family: Muyao-Softbrush;
    font-size: 50px;
    text-align: center;
    line-height: 100px;

  }
  .logo{
    color: black;
    text-decoration: none;
    font-family: 'Grandstander', cursive;
}

  nav{
    font-family: Arial;
    background-color: #C3A6A0;

    text-align: center;
  }
  
  nav a {
      padding: 14px 16px;
      display: inline-block;
      text-decoration: none;
      color: black;
      
  }
   nav a:hover{
       background-color: whitesmoke;
       color: black;
   }

   .rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:25px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.showcase{
    float: left;
    width: 60%;
}

.showcase img{
    width: 50%;
    height: 50%;
    margin-top: 60px;
    margin-left: 400px;

}

aside{
    float: right;
    width: 35%;
    margin-top: 70px;
}

aside h2{
    font-family: 'Noto Sans TC', sans-serif;
}
aside p {
    font-weight:bold;
    font-size: 18px;
    margin-top: -10px;
}
.price{
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 5px;
}

