body{
    background-color: white;
    margin: 0px;
}


header{
    height:100px;
    background-color: #F7F1F0;
    font-family: Muyao-Softbrush;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
  }
  #logo{
    width: 100px;
    height: 100px;
    /*border-radius: 30px;*/
  }
  .logo{
    color: black;
    text-decoration: none;
    font-family: 'Grandstander', cursive;
}

  nav{
    font-family: Arial;
    background-color: #C3A6A0;

    text-align: center;
  }
  
  nav a {
      padding: 14px 16px;
      display: inline-block;
      text-decoration: none;
      color: black;
      
  }
   nav a:hover{
       background-color: whitesmoke;
       color: black;
   }

.container{
    padding: 7% 35%;
    text-align: center;
    display: flex;
    justify-items: center;
}
#zoomC {
    width: 350px;
    height: 350px;
    margin-left: 30px;
    margin-top: -20px;
    background-position: center;
    background-size: cover;
  }
#discription{
    font-family: 微軟正黑體;
    color: #B2691E;
} 

#num{
    text-align: center;
    width: 70px;
}
button {
    background-color: #1b301bb3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
  }
  #leave{
      width: 30px;
      height: 30px;
      position: relative;
      left: 160px;top: 20px;
  }
  footer{
    color: white;
    text-align: center;
    background-color: #444444;
    padding: 50px;
    margin-top: 200px;
    }
      
footer p{
    margin-top: -10px;
}
.footer2{
    background-color: burlywood;
    height: 30px;
    margin-top: -20px;
}

/* User rating*/ 
.userRating  {
  box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto;
  background-color:#f8f7f7;
}

.ratingContainer {
    font-family: Arial;
    margin: 0 auto; /* Center website */
    
    padding: 20px;
  }
  
  .heading {
    font-size: 25px;
    margin-right: 25px;
    color: #4e4d41;
  }
  
  /* Star rating */
  form > input[type="radio"].startScore{
    position: absolute;
    top: -99999px;
    left: -99999px;
    z-index: -99999;
}

.star{
    display: flex;
    flex-direction: row-reverse;
    width: 300px;
    position: relative;
    left: -60px;
  
}
.star .star1{
    color:#ccc;
    font-size: 40px;
    cursor: pointer;
    margin:0 8px;
}
#star5:hover{
    color:#91663d;
}
#star4:hover{
    color:#91663d;
}
#star4:hover ~ #star5{
    color:#91663d;
}

#star3:hover{
    color:#91663d;
}
#star3:hover ~ #star4{
    color:#91663d;
}
#star3:hover ~ #star5{
    color:#91663d;
}
#star2:hover{
    color:#91663d;
}
#star2:hover ~#star3{
    color:#91663d;
}
#star2:hover ~ #star4{
    color:#91663d;
}
#star2:hover ~ #star5{
    color:#91663d;
}
#star1:hover{
    color:#91663d;
}
#star1:hover ~#star2{
    color:#91663d;
}
#star1:hover ~#star3{
    color:#91663d;
}
#star1:hover ~#star4{
    color:#91663d;
}
#star1:hover ~#star5{
    color:#91663d;
}
  
/* Form */
.name .text {
  width: auto;
  flex: none;
  color: #4e4d41;
  font-size: 16px;
  vertical-align: middle;
}

.name input {
  flex: auto;
  background: 0 0;
  color: #4e4d41;
  font-size: 16px;
  border: none;
}

.name input:focus {
  background: 0 0;
  color: #4e4d41;
  font-size: 16px;
  border: none;
  outline: none;
}

.comment_title {
  font-size: 16px;
  color: #4e4d41;
  margin-top: -20px;
}

form textarea {
  font-size: 16px;
  color: #4e4d41;
  border: 1.5px solid #4e4d41;
  height: 150px;
  border-radius: 5px;
}
.combut{
  background-color:#C3A6A0;
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 15px;
  cursor: pointer;
}