body{
    background-color: white;
    margin: 0px;
}


header{
    height:100px;
    background-color: #F7F1F0;
    font-family: 'Grandstander', cursive;
    font-size: 50px;
    text-align: center;
    line-height: 100px;

  }

.logo{
    color: black;
    text-decoration: none;
}

  nav{
    font-family: Arial;
    background-color: #C3A6A0;

    text-align: center;
  }
  
  nav a {
      padding: 14px 16px;
      display: inline-block;
      text-decoration: none;
      color: black;
      
  }
   nav a:hover{
       background-color: whitesmoke;
       color: black;
   }
main::after{
    margin: 0;
}
.main:before {
    content: " ";
    display: table;
}
.main{
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 45%;
    display: block;
}
/*.content{
    padding-top: 10px;
}*/
a{
    text-decoration: none;
    color: #504E4E;
}
#file{
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
h2{
    margin: 0 0 1rem
}
p{
    margin: 0 0 1.55rem;
}
ul{
    padding-inline-start: 0;
}
.required{
   position: relative;
    padding: 6px 0 5px;
}
.text{
margin-top: 5px;
}
img{width: 150px;
    height: 150px;
}
div{
    justify-content: center
}

.forget{
    font-size: 14px;
    padding-bottom: 10px;
}
.login{
    display: inline-block;
    text-align: center;
}
#login{
    border: none;
    color: rgba(41, 48, 47, 0.701);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}
.footer {
    background-color: #444444;
    color: beige;
    text-align: center;
    padding: 20px;
}