body{
    background-color: white;
    margin: 0px;
}


header{
    height:100px;
    background-color: #F7F1F0;
    font-family: 'Grandstander', cursive;
    font-size: 50px;
    text-align: center;
    line-height: 100px;

  }

.logo{
    color: black;
    text-decoration: none;
}

  nav{
    font-family: Arial;
    background-color: #C3A6A0;

    text-align: center;
  }
  
  nav a {
      padding: 14px 16px;
      display: inline-block;
      text-decoration: none;
      color: black;
      
  }
   nav a:hover{
       background-color: whitesmoke;
       color: black;
   }

    
   
   footer{
    color: white;
    text-align: center;
    background-color: #444444;
    padding: 10px;
    
}
        .layout{
            width: 500px;
            margin: auto;
        }
        .accordion{
            padding: 15px;
            margin-top: 20px;
            margin-bottom: 20px;
            background: #eae4e9;
            border-radius: 20px;
        }
        .accordion__question p{
            margin: 5px;
            padding: 0;
            font-family: Verdana;
            font-size: 14px;
            color :#444444;
        }
        .accordion__answer p{
            margin: 5px;
            padding: 10px;
            font-size: 14px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #444444;
            background: #fbf7fa;
            border-radius: 10px; 
        }
        .accordion:hover{
            cursor: pointer;
        }
        .accordion__answer {
            display: none;
        } 
        .accordion.active .accordion__answer {
            display: block;
        }
   